serverside/statemachines/sm_workflow/quack-tsln_ProcessingJob.json
{
    "StartAt": "SageMakerTranslationJob",
    "States": {
        "SageMakerTranslationJob": {
            "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
            "Parameters": {
                "ProcessingJobName.$": "$$.Execution.Input['ProcessingJobName']",
                "ProcessingInputs": [
                    {
                        "InputName": "input",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri.$": "$$.Execution.Input['SOURCE_TO_TRANSLATE']",
                            "LocalPath": "/opt/ml/processing/input",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    },
                    {
                        "InputName": "model",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri.$": "$$.Execution.Input['SOURCE_MODEL_ARTIFACT']",
                            "LocalPath": "/opt/ml/processing/input/model",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    },
                    {
                        "InputName": "code",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri.$": "$$.Execution.Input['input_code']",
                            "LocalPath": "/opt/ml/processing/code",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    }
                ],
                "ProcessingOutputConfig": {
                    "Outputs": [
                        {
                            "OutputName": "output",
                            "AppManaged": false,
                            "S3Output": {
                                "S3Uri.$": "$$.Execution.Input['DESTINATION_OUTPUT']",
                                "LocalPath": "/opt/ml/processing/output",
                                "S3UploadMode": "EndOfJob"
                            }
                        }
                    ]
                },
                "AppSpecification": {
                    "ImageUri": "141502667606.dkr.ecr.eu-west-1.amazonaws.com/sagemaker-scikit-learn:0.20.0-cpu-py3",
                    "ContainerArguments": [
                        "--bucket",
                        "quack-translation-buddy",
                        "--file",
                        "document.docx"
                    ],
                    "ContainerEntrypoint": [
                        "python3",
                        "/opt/ml/processing/code/main.py"
                    ]
                },
                "RoleArn": "arn:aws:iam::202100828967:role/DOC_TRANSLATION_SAGEMAKER_ROLE",
                "ProcessingResources": {
                    "ClusterConfig": {
                        "InstanceCount": 1,
                        "InstanceType": "ml.t3.medium",
                        "VolumeSizeInGB": 30
                    }
                }
            },
            "Type": "Task",
            "Next": "update-dynamodb-job1-Completed",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "update-dynamodb-job1-Failed"
                }
            ]
        },
        "update-dynamodb-job1-Completed": {
            "Parameters": {
                "FunctionName": "quack-tsln-update-jobstatus-step",
                "Payload": {
                    "inputs.$": "$$.Execution.Input",
                    "execStatus": "TaskCompleted"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "End": true
        },
        "update-dynamodb-job1-Failed": {
            "Parameters": {
                "FunctionName": "quack-tsln-update-jobstatus-step",
                "Payload": {
                    "inputs.$": "$$.Execution.Input",
                    "execStatus": "TaskFailed"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "End": true
        }
    }
}